<div class="mt-20 ">
  <div class="w-full mb-4 mx-auto max-w-xl" data-controller="algolia" id="searchbox"></div>
  <div class="flex space-x-4 ">
    <%= render "shared/sidebar_menu" %>
    <div  class="text-gray-600 shadow-lg" data-controller="algolia" id="hits"></div>
  </div>
  <div class="w-full mb-4 mx-auto max-w-xl ">
    <div id="pagination"></div>
  </div>
</div>