<div class="my-32" data-controller="algolia">
  <div class=" mx-auto">
    <div class="w-full mb-4 mx-auto max-w-xl" id="searchbox"></div>
    <div class="flex space-x-4">
      <%= render "shared/sidebar_menu" %>
      <div class="flex-1">
        <div class="text-gray-600" id="hits"></div>
        <div class="my-20">
          <div id="pagination"></div>
        </div>
      </div>
    </div>
  </div>
</div>