<div class="flex">
  <div class="w-72 bg-gray-200 p-4   rounded-lg shadow-lg">
    <h2 class="font-bold text-xl text-cyan-950 mb-4">Categorias</h2>
    <div class="text-base" id="hierarchical-menu"></div>
    <div class="text-base" id="refinement-list"></div>
  </div>
</div>