/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
@plugin "daisyui";


.ais-SearchBox {
    margin: 1em 0;
}

.ais-Pagination {
    margin-top: 1em;
}

.left-panel {
    float: left;
    margin-top: 1em;
    width: 250px;
}

.right-panel {
    margin-left: 260px;
}

.ais-InstantSearch {
    max-width: 960px;
    margin: 0 auto;
}

.ais-Hits-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.2em;
}

.ais-Hits-item {
    align-items: first baseline;

}



.hit-name {
    flex: none;

}

.hit-description {
    color: #888;
    font-size: 14px;
    margin-bottom: 0.5em;
}

.ais-RefinementList-list {
    margin-top: 1em;
    color: #1a1818;

}

.ais-RefinementList-labelText {
    font-size: 1.125rem;
}

.ais-HierarchicalMenu-label {
    color: #1a1818;
    font-size: 1.125rem;

}